{
    "port": 3000,
    "wsport": 3001,
    "dbport": 3006,
    "user": "Insert your database username",
    "password": "Insert your database password",
    "database": "Insert your database name",
    "domain": "Insert the domain here",
    "verifyemail":false,
    "restarttoken": "Insert a random key here for server maintenance.",
    "version": "{version}",
    "gitrepo": "https://github.com/dsicim/AuroraCoffee.git",
    "storagekey": 'run -> node -e "console.log(require('crypto').randomBytes(32).toString('base64'))" and paste the result here'
    "mail": {
        "user": "Your gmail address (make an alt gmail account for this!)",
        "pass": "The app password (make an app password on google accounts dashboard!)",
        "from": "Your gmail alias (you can use cloudflare routing for this)",
        "reply": "The address users could reply to incoming emails (For contact purposes)"
    },
    "iyzipay": {
        "api": "https://sandbox-api.iyzipay.com",
        "key": "Insert API key from iyzico's dashboard",
        "secret": "Insert API secret from iyzico's dashboard"
    }
}